/*Background*/
#regbg{
  background: rgba(0, 0, 0, 0.5)url(../img/reg_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: darken;
}

#logbg{
  background: rgba(0, 0, 0, 0.5)url(../img/log_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: darken;
}

#profilebg{
  background: rgba(0, 0, 0, 0.5)url(../img/profile.jpg) no-repeat center center fixed;
  background-size: cover;
}
/*REGISTER*/
.register_section{
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.register_section .register_container{
    position: relative;
    width: 750px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.register_section .register_container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.register_section .register_container .user .imgBx{
    position: relative;
    width: 60%;
    height: 100%;
}

.register_section .register_container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register_section .register_container .user .formBx{
    position: relative;
    width: 50%;
    height: 87%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.register_section .register_container .user .formBx form h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.register_section .register_container .user .formBx form input{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.register_section .register_container .user .formBx form button{
    position: relative;
    width: 100%;
    max-width: 100px;
    padding: 10px;
    background: #677eff;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.register_section .register_container .user .formBx form .login_txt{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

.register_section .register_container .user .formBx form .login_txt a{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

.register_section .register_container .user .formBx form .errormsg{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

/*Login*/
.login_section{
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login_section .login_container{
    position: relative;
    width: 750px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.login_section .login_container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.login_section .login_container .user .imgBx{
    position: relative;
    width: 70%;
    height: 100%;
}

.login_section .login_container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_section .login_container .user .formBx{
    position: relative;
    width: 50%;
    height: 80%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login_section .login_container .user .formBx form h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.login_section .login_container .user .formBx form input{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.login_section .login_container .user .formBx form button{
    position: relative;
    width: 100%;
    max-width: 100px;
    padding: 10px;
    background: #677eff;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.login_section .login_container .user .formBx form .register_txt{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

.login_section .login_container .user .formBx form .register_txt a{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

.login_section .login_container .user .formBx form .errormsg{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
/*Profile*/
/*Change Password*/
.change-password-form{
    padding: 10px;
    text-align: center;
    background-color: #cfa4bb;
    border: 8px solid #5D4954;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.change-password-form h2{
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
}


.change-password-form input{
    display: block;
    margin: auto;
    background: #cfa4bb;
    border: none;
    margin-top: 25px;
    border-bottom: 3px solid #5D4954;
    font-size: 14px;
}

.change-password-form button{
    margin: 25px;
    padding: 10px;
    background: #fff;
    border: 2px solid #5D4954;
    border-radius: 10px;
    color: #5D4954;
    font-weight: bold;
    outline: none;
}

.change-password-form button:hover{
    background: #5D4954;
    color: #fff;

}

@media screen and (max-width: 1000px){
    .change-password-form{
        margin-top: 8%;
    }
}

@media screen and (max-width: 800px){
    .change-password-form{
        margin-top: 10%;
    }
}
/*Delete Account*/
.delete-form{
    text-align: center;
    padding: 30px;
    border: 5px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.confirm-user{
    margin: 0px 20px 15px 20px;
    font-weight: 600;
    font-size: 1.3em;

}

.warning-delete{
    border-left: 10px solid red;
    border-top: 3px solid red ;
    border-right: 3px solid red ;
    border-bottom: 3px solid red ;
    padding: 10px;
    font-weight: 300;
}

.delete-form input{
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 2px;
}

.delete-form button{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

@media screen and (max-width: 1000px){
    .delete-form{
        margin-top: 8%;
    }
}

@media screen and (max-width: 800px){
    .delete-form{
        margin-top: 10%;
    }
}

.cfm{
  font-size: 20px;
  text-align: center;
  color: white;
}
/*Back to top button*/
#back-to-top-btn{
	position:fixed;
	bottom:40px;
	right:20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	outline: none;
	border: 3px solid #333;
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color,color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
	background-color: #333;
	color: #fff;
}

/* Animations */
#back-to-top-btn{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: back-to-top-btnEntrance;
}
/* zoomIn */
@keyframes back-to-top-btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

/* fadeInUp */
@keyframes back-to-top-btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.back-to-top-btnExit {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: back-to-top-btnExit;
}


/* zoomOut */
@keyframes back-to-top-btnExit {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

/* fadeOutDown */
@keyframes back-to-top-btnExit {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

/*Profile page with nav bar*/
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
  }
  
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    position: relative;
    margin-right: 20px;
  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  
  .navbar li a {
    display: block;
    padding: 16px;
    color: #11204a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #294289;
    z-index: 1;
    margin-top: -2px;
  }
  
  .dropdown .dropdown-content a {
    color: #fff;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: smaller;
  }
  
  .navbar li:hover > a {
    color: #870830;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #d891a8;
  }
  
  .navbar i {
    margin-left: 8px;
  }
  
  .trademark {
    font-size: 1.2rem;
    margin-left: 10px;
    color: #11204a;
  }
  
  .manage_btn_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    margin-top:10px;
    background-color: #fff;
  }

 
  .active_user {
    background-color: #870830;
    color: #fff;
  }
  
  .non_active_user {
    background-color: #fff;
    color: #870830;
    border: 2px solid #870830;
    margin-left: 20px;
  }
  
  .btn_outputs {
    margin-top: 120px;
    padding: 16px;
  }
  
  .user_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  .user_table th, .user_table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .user_table th {
    background-color: #f2f2f2;
  }

  
 
  
  